.button{
    display: inline-flex;
    margin-left: 10px;
    min-width: 60px;
}
.form{
    display: inline-flex;
    flex-direction: column;
}
.formElement{
    justify-content: space-between;
    display: inline-flex;
    margin: 10px;
    width: 400px;
}
.buttonElement{
    display: inline-flex;
    margin: 10px;
    width: 400px;
    justify-content: flex-end;
}
.categorySelect{
    width: 170px;
}